@font-face {
    font-family: 'RailroadRoman';
    src:url('../includes/fonts/RailroadRoman.eot?') format('eot'),
        url('../includes/fonts/RailroadRoman.woff') format('woff'),
        url('../includes/fonts/RailroadRoman.woff2') format('woff2'),
        url('../includes/fonts/RailroadRoman.ttf') format('ttf'),
        url('../includes/fonts/RailroadRoman.svg#RailroadRoman') format('svg');
    font-weight: normal;
    font-style: normal;
}
